* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  height: 50px;
  width: 200px;
  margin: 25px;
}

div {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#grid-container {
  min-height: 35vh;
  min-width: 35vw;
  max-width: 35vh;
  aspect-ratio: 1 / 1;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: 1px solid hsl(0, 0%, 75%);
  flex: 1;
}

.square:hover {
  background-color: hsl(0, 0%, 0%);
}